:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --nav-link-color: black;
}

[data-theme="dark"] {
  --bg-color: #000000;
  --text-color: #ffffff;
  --nav-link-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  border-top: 4px solid #ff6600
}
  
  header {
  padding: 20px;
  padding-left: 35px;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
}


header nav a {
  color: var(--nav-link-color);
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

header nav a:hover {
  text-decoration: underline;
}

.style-icon {
  margin-left: auto;
  padding-right: 35px;
}

footer {
  padding: 10px;
  text-align: center;
  border-top: 2px solid #ff6600;
  margin-left: 35px;
  margin-right: 35px;
}

footer nav a {
  color: var(--nav-link-color);
  text-decoration: none;
  margin: 0 15px;
  font-size: 12px;
}

header nav a:hover {
  text-decoration: underline;
}

.active-link {
  color: #ff6600;
  font-weight: bold;
}

.article-list {
  margin: 20px auto;
  padding: 20px;
}

.article {
  justify-content: space-between;
  padding: 10px 0;
}

.article:last-child {
  border-bottom: none;
}

.article .article-title {
  font-weight: bold;
}

.article.read .article-title {
  text-decoration: line-through;
}

.article-source {
  color: #999;
  font-size: 14px;
  font-weight: normal;
}

.article .article-meta {
  color: #999;
  font-size: 14px;
}

.article-order::before {
  color: #999;
}

.article-order * {
  color: inherit; /* Ensures child elements don't inherit the color */
}

.article .article-actions {
  text-align: right;
}

.article-actions button {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.article-actions button:hover {
  background-color: #ff4500;
}

.show-more {
  text-align: center;
  margin-bottom: 20px;
  margin-left: 65px;
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.show-more:hover {
  background-color: #ff4500;
}

